extends Layout.pug

block navbar
  li.nav-item
    a.nav-link(href='/SellerCenter/Home')
      span.nav-icon
        svg.bi.bi-house-door(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd', d='M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z')
            | &#x9;&#x9;  
            path(fill-rule='evenodd', d='M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z')
      | &#x9;&#x9;                         
      span.nav-link-text หน้าหลัก
block NavProduct
  li.nav-item.has-submenu
    a.nav-link.submenu-toggle(href='#', data-bs-toggle='collapse', data-bs-target='#submenu-1', aria-expanded='false', aria-controls='submenu-1')
      span.nav-icon
        svg.bi.bi-folder(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(d='M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z')
          path(fill-rule='evenodd', d='M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z')                       
      span.nav-link-text จัดการสินค้า
      span.submenu-arrow
        svg.bi.bi-chevron-down(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z')  
    #submenu-1.collapse.submenu.submenu-1(data-bs-parent='#menu-accordion')
      ul.submenu-list.list-unstyled
        li.submenu-item
          a.submenu-link(href='/SellerCenter/Product') แสดงรายการการสินค้า
        li.submenu-item
          a.submenu-link(href='/SellerCenter/Category') แสดงรายการการหมวดหมู่
        li.submenu-item
          a.submenu-link(href='/SellerCenter/Brand') แสดงรายการการแบรนด์
        li.submenu-item
          form(id="Test" action='/SellerCenter/Product/Add', method='GET' )
            button.submenu-link(type="submit" style="border:none;outline:none;background: none;") เพิ่มสินค้า
        li.submenu-item
          form(action='/SellerCenter/Product/AddBrand', method='GET' )
            button.submenu-link(type="submit" style="border: none;outline: none;background: none;") เพิ่มแบรนด์
block NavSetwebsite
  li.nav-item.has-submenu
    a.nav-link.submenu-toggle.active(href='#', data-bs-toggle='collapse', data-bs-target='#submenu-2', aria-expanded='false', aria-controls='submenu-2')
      span.nav-icon
        svg.bi.bi-columns-gap(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', d='M6 1H1v3h5V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12h-5v3h5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8H1v7h5V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6h-5v7h5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z')                       
      span.nav-link-text ปรับแต่งเว็บ
      span.submenu-arrow
        svg.bi.bi-chevron-down(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z')  
    #submenu-2.collapse.submenu.submenu-2.collapse.show(data-bs-parent='#menu-accordion')
      ul.submenu-list.list-unstyled
        li.submenu-item
          form(id="Test" action='/SellerCenter/Setwebsite', method='GET' )
            button.submenu-link(type="submit" style="border:none;outline:none;background: none;") เปลี่ยนเมนู ธีม สีพื้นหลัง ฟอนต์
        li.submenu-item
          form(action='/SellerCenter/Setwebsite/Settings', method='GET' )
            button.submenu-link.active(type="submit" style="border:none;outline:none;background: none;") ตั้งค่าเว็บ ลิงก์เว็บ
block Orders
  li.nav-item
    // //Bootstrap Icons: https://icons.getbootstrap.com/
    a.nav-link(href='/SellerCenter/Orders')
      span.nav-icon
        svg.bi.bi-card-list(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', d='M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z')
          path(fill-rule='evenodd', d='M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z')
          circle(cx='3.5', cy='5.5', r='.5')
          circle(cx='3.5', cy='8', r='.5')
          circle(cx='3.5', cy='10.5', r='.5')                         
      span.nav-link-text จัดการคำสั่งซื้อ
block TotalSale
  li.nav-item
    // //Bootstrap Icons: https://icons.getbootstrap.com/
    a.nav-link(href='/SellerCenter/TotalSeller')
      span.nav-icon
        svg.bi.bi-bar-chart-line(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', d='M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z')
      | &#x9;&#x9;                         
      span.nav-link-text สรุปยอดขายของสินค้า

block TotalSale1
  li.nav-item
    // //Bootstrap Icons: https://icons.getbootstrap.com/
    a.nav-link(href='/SellerCenter/TotalSell')
      span.nav-icon
        svg.bi.bi-bar-chart-line(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', d='M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z')
      | &#x9;&#x9;                         
      span.nav-link-text สรุปยอดขาย
        
block Banks
  li.nav-item
    // //Bootstrap Icons: https://icons.getbootstrap.com/
    a.nav-link(href='/SellerCenter/Banks')
      span.nav-icon
        svg.bi.bi-gear(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', d='M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z')
          | &#x9;  
          path(fill-rule='evenodd', d='M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z')
      | &#x9;&#x9;&#x9;                        
      span.nav-link-text จัดการบัญชีธนาคาร
block Adm
  li.nav-item
    // //Bootstrap Icons: https://icons.getbootstrap.com/
    a.nav-link(href='/SellerCenter/Info')
      span.nav-icon
        svg.bi.bi-file-person(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', d='M12 1H4a1 1 0 0 0-1 1v10.755S4 11 8 11s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z')
          | &#x9;  
          path(fill-rule='evenodd', d='M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z')
      | &#x9;&#x9;&#x9;                        
      span.nav-link-text ข้อมูลผู้ดูแลระบบ

block content 
    .app-wrapper
      .app-content.pt-3.p-md-3.p-lg-4
        .container-xl
          h1.app-page-title บัญชีผู้ใช้
          .row.gy-4
            .col-12.col-lg-6
              .app-card.app-card-account.shadow-sm.d-flex.flex-column.align-items-start
                .app-card-header.p-3.border-bottom-0
                  .row.align-items-center.gx-3
                    .col-auto
                      .app-icon-holder
                        svg.bi.bi-sliders(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd', d='M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z')
                      // //icon-holder
                    // //col
                    .col-auto
                      h4.app-card-title ตั้งค่าเว็บ
                    // //col
                  // //row
                // //app-card-header
                .app-card-body.px-4.w-100
                  .item.border-bottom.py-3
                    .row.justify-content-between.align-items-center
                      .col-auto
                        .item-label.mb-2
                          strong รูป Logo Web
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    
                        a.item-data
                          img.profile-image(src='/Img/Settings/LogoWeb/'+SetWeb.LogoWeb width="50" height="50")
                      // //col
                      // //col
                    // //row
                  // //item
                  .item.border-bottom.py-3
                    .row.justify-content-between.align-items-center
                      .col-auto
                        .item-label
                          strong ชื่อเว็บ
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                        a.item-data=SetWeb.WebName
                      // //col
                      // //col
                    // //row
                  // //item
                  .item.border-bottom.py-3
                    .row.justify-content-between.align-items-center
                      .col-auto
                        .item-label
                          strong อีเมล
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                        a.item-data=SetWeb.WebEmail
                      // //col
                      // //col
                    // //row
                  // //item
                  .item.border-bottom.py-3
                    .row.justify-content-between.align-items-center
                      .col-auto
                        .item-label
                          strong เบอร์โทร.
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                        a.item-data
                          =SetWeb.WebTel
                      // //col
                      // //col
                    // //row
                  // //item
                  .item.border-bottom.py-3
                    .row.justify-content-between.align-items-center
                      .col-auto
                        .item-label
                          strong ที่อยู่
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                        a.item-data
                          =SetWeb.WebAddress
                      // //col
                      // //col
                    // //row
                  // //item
                // //app-card-body
                .app-card-footer.p-4.mt-auto
                  a.btn.app-btn-secondary(type='submit' data-bs-toggle="modal" data-bs-target="#EditWeb") แก้ไขเว็บ
                  form(action='/SellerCenter/Setwebsite/Settings/Edit', method='POST',enctype="multipart/form-data")
                    .modal.fade(id="EditWeb" tabindex='-1', aria-hidden='true')
                      .modal-dialog.modal-dialog-centered
                        .modal-content
                          .modal-header
                            h5#EditCategoryLabel.modal-title แก้ไขเว็บ
                          .modal-body
                            strong รูป Logo Web    
                            input.form-control(type="file" name="Logo" accept="image/png, image/jpeg , image/jpg")
                            .mb-3
                            strong ชื่อเว็บ   
                            input.form-control(type="text" name="Webname" value=SetWeb.WebName maxlength=10 required)
                            .mb-3
                            strong อีเมล  
                            input.form-control(type="email" name="Webemail" value=SetWeb.WebEmail required)
                            .mb-3
                            strong เบอร์โทร   
                            input.form-control(type="tel" name="Webtel" placeholder='0XXXXXXXX' Title="กรุณากรอกเบอร์โทรศัพท์ เช่น 0123456789" pattern="[0-9]{10}" value=SetWeb.WebTel required)
                            .mb-3
                            strong ที่อยู่
                            input.form-control(type="text" name="Webaddress" value=SetWeb.WebAddress maxlength=255 required)
                          .modal-footer
                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') ปิด
                            button.btn.btn-primary(type='submit' style="color : white;") แก้ไขเว็บ
            .col-12.col-lg-6
              .app-card.app-card-account.shadow-sm.d-flex.flex-column.align-items-start
                .app-card-header.p-3.border-bottom-0
                  .row.align-items-center.gx-3
                    .col-auto
                      .app-icon-holder
                        svg.bi.bi-link(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewBox='0 0 16 16')
                          path(d='M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z')
                          path(d='M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z')
                      // //icon-holder
                    // //col
                    .col-auto
                      h4.app-card-title ตั้งค่าลิงก์โซเชียล
                    // //col
                  // //row
                // //app-card-header
                .app-card-body.px-4.w-100
                  .item.border-bottom.py-3
                    .row.justify-content-between.align-items-center
                      .col-auto
                        .item-label
                          strong=Social[0].NameSocialMedia
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                        if Social[0].SrcSocialMeida ==null
                          a.item-data="https://facebook.com/"
                        else
                          a.item-data="https://facebook.com/"+Social[0].SrcSocialMeida
                      // //col
                    // //row
                  // //item
                  .item.border-bottom.py-3
                    .row.justify-content-between.align-items-center
                      .col-auto
                        .item-label
                          strong=Social[1].NameSocialMedia
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        if Social[1].SrcSocialMeida== null 
                          a.item-data="https://www.instagram.com/"
                        else
                          a.item-data="https://www.instagram.com/"+Social[1].SrcSocialMeida
                      // //col
                    // //row
                  // //item
                  .item.border-bottom.py-3
                    .row.justify-content-between.align-items-center
                      .col-auto
                        .item-label
                          strong=Social[2].NameSocialMedia
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   
                        if Social[2].SrcSocialMeida ==null
                          a.item-data="https://line.me/"
                        else 
                          a.item-data="https://line.me/"+Social[2].SrcSocialMeida
                      // //col
                    // //row
                  // //item
                  .item.border-bottom.py-3
                    .row.justify-content-between.align-items-center
                      .col-auto
                        .item
                          strong=Social[3].NameSocialMedia
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                        if Social[3].SrcSocialMeida ==null  
                          a.item-data="https://www.tiktok.com/"
                        else
                          a.item-data="https://www.tiktok.com/"+Social[3].SrcSocialMeida
                      // //col
                      .col.text-end

                .app-card-footer.p-4.mt-auto
                  a.btn.app-btn-secondary(type='submit' data-bs-toggle="modal" data-bs-target="#EditLink") แก้ไขลิงก์โซเชียล
                  form(action='/SellerCenter/Setwebsite/Settings/EditLink', method='POST')
                    .modal.fade(id="EditLink" tabindex='-1', aria-hidden='true')
                      .modal-dialog.modal-dialog-centered
                        .modal-content
                          .modal-header
                            h5#EditCategoryLabel.modal-title แก้ไขลิงก์เว็บ
                          .modal-body
                            .mb-3
                            strong Facebook   
                            input.form-control(type="text" name="Facebook" placeholder='นำข้อความหลัง/มาใส่เท่านั้น เช่น AB12345' maxlength=255 value=Social[0].SrcSocialMeida)
                            .mb-3
                            strong Line  
                            input.form-control(type="text" name="Line" maxlength=255 placeholder='นำข้อความหลัง/มาใส่เท่านั้น เช่น R/ti/p/@XXXXXX' value=Social[1].SrcSocialMeida)
                            .mb-3
                            strong Ig   
                            input.form-control(type="text" name="Ig" maxlength=255 placeholder='นำข้อความหลัง/มาใส่เท่านั้น เช่น ABCDEFG/' value=Social[2].SrcSocialMeida)
                            .mb-3
                            strong Tiktok
                            input.form-control(type="text" name="Tiktok" maxlength=255 placeholder='นำข้อความหลัง/มาใส่เท่านั้น เช่น @xxxxxx' value=Social[3].SrcSocialMeida)
                          .modal-footer
                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') ปิด
                            button.btn.btn-primary(type='submit' style="color : white;") แก้ไขเว็บ
                // //app-card-footer
              // //app-card
            // //col
            